@media (max-width: 48rem) 
    {
        .header 
        {
            flex-direction: column; 
            align-items: flex-start;
        }
    }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#titulo
{
    padding: 30px;
    text-align: center;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:75px;
    color: #f6511d;
}
header {
    background-color: #54c6f7;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity:0.9;
    border-radius: 24px;
}
body
{
    background:#0A266D;
    background: linear-gradient(to top,white,#26355c);
    text-align: center;
    background-repeat: no-repeat; 
}
section
{
    padding: 10px 150px;
}
.contenedor
{
    display: flex;
    justify-content: space-between;
 }
.divParalelo
{
    width: 45%;
    padding: 10px;
}
#titulosSubsecciones
{
    padding: 30px;
    text-align: center;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:30px;
    color: #f6511d;
}
#textoSubsecciones
{
    padding:30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #0a266d;
}
